$white-color: #fff;
$black-color: #000;
$text-color: #333;

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__fullwidth {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
//css modal-----
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    .modal-overlay {
        width: 100%;
        height: 100%;
        background: #3336;
        position: absolute;
        z-index: 1;
    }
    .modal-body {
        background: $white-color;
        border-radius: 3px;
        margin: auto;
        z-index: 2;
        overflow: hidden;
    }
}
// css button 
.btn {
    min-width: 142px;
    height: 36px;
    text-align: center;
    border-radius: 2px;
    line-height: 1;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}
.btn.btn-primary {
    background: #f7462e;
    color: $white-color;
}
.btn.btn-facebook {
    background: #0a80ec;
    display: flex;
    align-items: center;
    color: $white-color;
    text-decoration: none;
        i {
            font-size: 2rem;
        }
        span {
            margin:0 40px;
            font-size: 1.4rem;
        }
}
.btn.btn-google {
    background: $white-color;
    display: flex;
    align-items: center;
    color: $black-color;
    text-decoration: none;
        i {
            font-size: 2rem;
        }
        span {
            margin:0 40px;
            font-size: 1.4rem;
        }
}